.cta {
    margin-top: 160px;
    &__inner {
        position: relative;
        padding: 100px 0;
        border-radius: 12px;
        background: #201830;
    }

    &__decor {
        position: absolute;

        &:nth-of-type(1) {
            top: 26px;
            left: 528px;
        }

        &:nth-of-type(2) {
            top: 180px;
            right: 20px;
        }

        &:nth-of-type(3) {
            bottom: 35px;
            left: 45px;
        }
    }

    &__heading {
        color: #fff;
    }

    .heading__strong {
        position: relative;
        z-index: 1;

        &::after {
            content: url(../../assets/img/cta__heading-strong.svg);
            display: inline-block;
            position: absolute;
            left: -5px;
            bottom: -15px;
            z-index: -1;
        }
    }

    &__desc {
        color: #aba6b5;
    }

    &__form {
        margin-top: 70px;
    }

    &__name,
    &__email {
        height: 100%;
        font-size: 1.8rem;
        outline: none;
        border: none;
        width: 100%;
        padding: 18px 28px;
        border-radius: 8px;
        background: #2b213f;
    }

    &__submit {
    }
}
