.footer {
    padding: 100px 0 38px;
    background: var(--bg-color);

    &__copy {
        margin-top: 14px;
        color: #665f73;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 175%;
    }

    &__contact {
        margin-top: 18px;
        display: flex;
        column-gap: 14px;
        &-icon {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #201830;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: background 0.3s ease;

            &:hover {
                background: var(--primary-color);
            }
        }
    }

    &__list-box {
        margin-left: 60px;
        display: flex;
        column-gap: 90px;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 24px;
        color: #201830;
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__item {
        margin-top: 16px;
        color: #665f73;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 175%;
    }

    &__listen-box {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }
}
