.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 42px 0;
    background: var(--bg-color);

    &__btn {
        &:hover {
            border-color: #201830;
            background: #fff;
            color: #201830;
        }
        margin-left: 28px;
        font-size: 1.6rem;
        padding: 9px 29px;
        border-radius: 6px;
        background: #201830;
        line-height: 175%;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__item {
    padding: 8px 24px;
    color: #665f73;
    font-size: 16px;
    font-weight: 400;

    &:hover {
        color: #201830;
        text-shadow: 1px 1px #201830;
    }
}

.category-box {
    position: relative;
}

.category-label {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.category__list {
    opacity: 0;
    visibility: hidden;
    padding: 10px 24px;
    background: var(--bg-color);
    box-shadow: 8px 0px 5px rgba($color: #000000, $alpha: 0.2);
    top: 37px;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.category__item {
    @extend .navbar__item;
}

.category-checkbox:checked ~ .category__list {
    opacity: 1;
    visibility: visible;
}

.log-in {
    color: #201830;
    font-size: 1.6rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}
